.navigation {
    margin: 0 2.4rem;
    height: 100vh;
    display: flex;
    align-items: center;
    opacity: 0;
    animation: appear 1.5s ease forwards;
    @media screen and (max-width: 900px) {
        margin: 0;
        position: fixed;
        top: 0%;
        left: 0%;
        min-width: 100vw;
        min-height: 100vh;
        justify-content: center;
        align-items: center;
        z-index: 99;
        background: linear-gradient(
        to left bottom, 
        $redColor, 
        $yellowColor);
        clip-path: circle(100px at 50% -14%);
        -webkit-clip-path: circle(100px at 50% -14%);
        transition: all 0.6s ease-out;
        &.change {
            clip-path: circle(1400px at 100% 0%);
            -webkit-clip-path: circle(1400px at 100% 0%);
        }
    }
    ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        a {
            font-size: 2.4rem;
            font-weight: 300;
            text-decoration: none;
            color: #000;
            margin: 3rem 0;
            letter-spacing: 1px;
            transition: color 0.4s ease;
            &:hover {
                color: $redColor;
            }
        }
        .nav-active {
            color: $redColor;
        }
    }
}