.home-page {
    width: 100%;
    overflow: hidden;
   .home-page-block {
       display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 100vh;
        margin: auto 0;
       @media screen and(min-width: 900px) {
            width: 60%;
            margin-left: 10%;
            justify-content: flex-start;
       }
   }
}